.list-group {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 3rem !important;
    text-align: center !important;
    background-color: tomato !important;
    color: white !important;
}